<div id="<%= dom_id curso %>">
  <p>
    <strong>Grado:</strong>
    <%= curso.grado %>
  </p>

  <p>
    <strong>Letra:</strong>
    <%= curso.letra %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= curso.usuario_id %>
  </p>

</div>
