
<!-- secci칩n imagen principal -->
    <section class=" juntas row mx-3">
        <div class="col-sm-6 d-inline-flex pt-4 mx-5">
            <img class="central mt-24 w-75" src="assets/familia.jpg" alt="imagen principal">
            <div class="col-sm-6 encabezado d-inline d-sm-md-none">
                <h1 class="titulo d-none d-md-block"> MI PROYECTO FINAL.</h1>
                <br>
                <h2 class="sub pb-4">bla bla bla</h2>
                <h2 class= "sub">Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
            </div>
        </div>
    </section>

<!--secci칩n Carrusel -->
<%= render 'layouts/carousel' %>


            <!--<button type="button" class="btn btn-light border-dark" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Presiona para enviar a tu correo">
                 Enviar por correo
                </button>
                <button type="button" class="btn btn-light border-dark" data-bs-toggle="tooltip"
                    data-bs-placement="right" title="Agrega esta receta a tus favoritos">
                    A침adir a favoritos
                </button>-->

<!--secci칩n de iconos-->
<div>

</div>