

<header>
	<h1 class="titulo">Mi Proyecto</h1>
	<h1>Bla bla bla</h1>
	<br>
	<h2 class="subtitulo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, at minima impedit adipisci quisquam pariatur laudantium dolore in natus ipsa facere fugiat animi non quidem totam distinctio nostrum corrupti veritatis.</h2>
</header>




