  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
              <!-- carrusel hoja 1 -->
            <div class="carousel-item active my-4">
              <div class="row">
                  <div class="item col-md-4 col-lg-4 col-xl-4">
                    <img src="https://th.bing.com/th/id/R.489237cc1b0c45333922af9228902094?rik=%2bNnoujWF28boFA&pid=ImgRaw&r=0" class="foto d-block w-100" alt="recreo">
                  </div>
                  <div class="item col-md-4 col-lg-4 col-xl-4">
                    <img src="https://th.bing.com/th/id/R.5f585f45794400cceef132365ed0fbd1?rik=qp5FAqkXzlp1cw&riu=http%3a%2f%2fsermujermamaymuchomas.com%2fwp-content%2fuploads%2f2020%2f08%2frecreoencasa.jpg&ehk=c94hKcxRBIBYla42psOVyTokkF1GbGgH4%2bhN3%2bdjRF0%3d&risl=&pid=ImgRaw&r=0" class="foto d-block w-100" alt="colación">
                  </div>
                  <div class="item col-md-4 col-lg-4 col-xl-4">
                    <img src="https://thereisabookforthat.files.wordpress.com/2014/04/img_3312.jpg?w=600&h=516" class="foto d-block w-100" alt="biblioteca">
                  </div>
                        
                </div>
            </div>

                <!-- carrusel hoja 2 -->
            <div class="carousel-inner">
                <div class="carousel-item my-4">
                    <div class="row">
                        <div class="item col-md-4 col-lg-4 col-xl-4">
                            <img src="https://careersmart.org.uk/sites/default/files/styles/large/public/2017-03/Nursery-nurses-and-assistants.jpg?itok=Y3x-meX_" class="foto d-block w-100" alt="preparar">
                        </div>
                        <div class="item col-md-4 col-lg-4 col-xl-4">
                            <img src="https://th.bing.com/th/id/OIP.xHkdXilrjRyTCx9uGNUi7gHaDs?pid=ImgDet&rs=1" class="foto d-block w-100" alt="jardín">
                        </div>
                        <div class="item col-md-4 col-lg-4 col-xl-4">
                            <img src="https://th.bing.com/th/id/R.3987944c15f0ed6c65ebc6ec978020c3?rik=5ENJbUVqWgpTpg&riu=http%3a%2f%2fwww.everestzacatecas.com%2fwp-content%2fuploads%2f2019%2f03%2fIMG_1590-1024x683.jpg&ehk=6Qh%2b8erl6xmsEthuYuIERQS5x7Dp5CViRutqz8Cc2O4%3d&risl=&pid=ImgRaw&r=0" class="foto d-block w-100" alt="cancha">
                        </div>
                           
                    </div>
                  </div>
              </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
    </div>