
	<footer class= "fixed-bottom">
		<div class="brands">
            <i class="fa-brands mx-4 fa-facebook-square"></i>
            <i class="fa-brands mx-4 fa-youtube"></i>
            <i class="fa-brands mx-4 fa-linkedin"></i>
		</div>

		<p class="final">Proyecto final Rails</p>

	</footer>